body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    box-sizing: border-box;
}

.banner {
    background-color: #fff;
    width: 300px;
    height: 150px;
    border-radius: 10%;
    position: relative;
    display: relative;
    text-align: center;
}

.pin {
    position: absolute;
    top: -150px;
    left: 45%;
    color: #fff;
}

.lines {
    position: relative;
    top: 150px;
    background-color: #ccc;
}

.lines::before {
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    left: 18px;
    background-color: #ddd;
    position: absolute;
    top: -220px;
    transform: rotate(120deg);
}

.lines::after {
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    left: 104px;
    background-color: #ddd;
    position: absolute;
    top: -220px;
    transform: rotate(240deg);
}

.banner:hover{
    transform: rotate(-10deg);
}

.banner img {
    width: 80px;
    position: absolute;
    right: -40px;
    top: -50px;
    transform: rotate(30deg);
}


.closed h1{
    background-color: #ccc;
    width: 300px;
    padding: 5px 0px;
    margin: 18px;
    font-family: "Bubblegum Sans", sans-serif;
}

.closed p, .closed h2 {
    background-color: #fff;
    width: 300px;
    font-size: 35px;
    line-height: 0.02;
    font-family: "Bebas Neue", sans-serif;
}

closed p {
    font-size: 15px;
}